body {
    background-color: #FBFBFB;
    z-index: -1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.aic {
    align-items: center;
}

.bd {
    border: 1px solid black;
}

.title__xl {
    font-size: 120px;
    font-weight: 900;
}

.title__lg {
    font-size: 64px;
}

.title__md {
    font-size: 28px;
}

.title__sm {
    font-size: 20px;
}

.h-90px {
    height: 90px;
}

.mt-80px {
    margin-top: 80px;
}

.mt-160px {
    margin-top: 160px;
}

.fs-28px {
    font-size: 28px;
}

.bg__img {
    width: 50%;
    height: 834px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-b {
    max-width: 30px;
    border-bottom: 5px solid;
}

@media(max-width:375px) {
    .bg__img {
        width: 100%;
        height: 375px;
    }

    .title__xl {
        font-size: 52px;
        max-width: 100%;
    }
    
    .title__lg {
        max-width: 100%;
        font-size: 48px;
    }

    .mt-80px {
        margin-top: 64px;
    }

    .mt-160px {
        margin-top: 128px;
    }
}