    .search-area {
        position: relative;
    }

    .search {
        max-width: 416px;
        width: 416px;
        height: 56px;
        padding: 0 50px;
        margin-top: 80px;
        border-radius: 40px;
        border: 1px solid black;
    }

    i {
        position: absolute;
        left: 20px;
        top: 100px;
        font-size: 25px;
    }


    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li {
        max-width: 416px;
        margin: 40px 8px;
        box-sizing: border-box;
    }

    .c-img {
        width: 100%;
        height: 200px;
        margin-bottom: 16px;
        object-fit: cover;
    }

    .date {
        color: #000000;
        margin: 8px 0;
    }

    .tagArea {
        display: flex;

        .tag {
            font-size: 24px;
            color: #0027D5;
            text-decoration: none;
        }

        .hot {
            border-radius: 40px;
            padding: 6px 12px;
            margin-left: 8px;
            text-align: center;
            font-weight: bold;
            color: white;
            background-color: #0027D5;
        }
    }

    .title {
        font-size: 28px;
        font-weight: bold;
        color: #000000;
    }

    .detial {
        margin: 8px 0;
        color: #4B4B4B;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
    }

    .read {
        padding: 8px 16px;
        margin-top: 10px;
        display: inline-block;
        border-radius: 40px;
        border: 1px solid black;
        color: black;
        transition: all 0.3s ease;

        &:hover {
            background-color: #000000;
            color: white;
            transition: all 0.3s ease;
        }
    }