.warp {
    max-width: 1296px;
    margin: 0 auto;
}

.nav-link {
    font-weight: 700;
}

.title__area {
    top: 300px;
    left: 55%;
}

.title__card {
    margin-top: 650px;
    margin-left: 650px;
    width: 60%;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.media {
    width: 220px;
}

.service {
    width: 80%;
    height: 320px;
    margin: 64px auto;

    .service__img {
        width: 60%;
        height: 320px;
    }

    .service__card {
        width: 45%;
        padding: 30px;
    }

    .card-r {
        left: 55%;
    }

    .card-l {
        right: 55%;

    }
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}