.service {
    width: 80%;
    height: 320px;
    margin: 64px auto;

    .service__img {
        width: 60%;
        height: 320px;
    }

    .service__card {
        width: 45%;
        padding: 30px;
    }

    .card-r {
        left: 55%;
    }

    .card-l {
        right: 55%;
    }
}