.success__main-img {
    height: 626px;
    width: 58%;
    box-sizing: border-box;
    border: 24px solid #EDEDED;
}

.success__card-first {
    width: 745px;
    padding: 80px 40px;
    top: 29px;
    left: 550px;
    right: 219px;
}

.success__card-second {
    width: 526px;
    top: 250px;
    left: 770px;
    padding: 80px 40px;
    background-color: #F5F5F5;
}

.success__list {
    background-color: #F5F5F5;
    padding: 24px;
    li{
        margin: 0;
    }
    .s__img{
        height: 80px;
        width: 80px;
    }
    .s__title{
        margin-top: 16px;
    }
    .s__contant{
        margin-top: 8px;
    }
    .s__pod{
        margin-top: 16px;
    }
}